[access]
	inheritFrom = All-Projects
[project]
	description = Recipe for creating new .net core web applications
[access "refs/*"]
	owner = group user/saifiqbal10P
[access "refs/for/refs/*"]
	read = group user/saifiqbal10P
	push = group user/saifiqbal10P
	label-Code-Review = -2..+2 group user/saifiqbal10P
	label-Verified = -1..+1 group user/saifiqbal10P
	rebase = group user/saifiqbal10P
	removeReviewer = group user/saifiqbal10P
	submit = group user/saifiqbal10P
[access "refs/heads/*"]
	read = group user/saifiqbal10P
	create = group user/saifiqbal10P
	push = +force group user/saifiqbal10P
	pushMerge = group user/saifiqbal10P
[access "refs/tags/*"]
	push = group user/saifiqbal10P
	push = +force group user/saifiqbal10P
